@model IEnumerable<Person>

@{
    ViewBag.Title = "Index";
    
}

<div class="card-deck">
    @foreach (var person in Model)
    {
        var photoPath = "~/Images/" + (person.PhotoPath ?? "images.jpg");
        <div class="card m-3" style="min-width:18rem; max-width:30.5%;">
            <div class="card-header">
                <h3>@person.FirstName @person.LastName</h3>
            </div>

            <img src="@photoPath" class="card-img-top align-items-center" asp-append-version="true" />

            <div class="card-footer text-center">
                <a class="btn btn-success m-2" asp-controller="Home" asp-action="Details"
                   asp-route-id="@person.Id" >View</a>
                <a class="btn btn-primary m-2" asp-controller="Home" asp-action="Update"
                   asp-route-id="@person.Id">Edit</a>
                <a class="btn btn-danger m-2" asp-controller="Home" asp-action="Delete"
                   asp-route-id="@person.Id">Delete</a>
            </div>
        </div>
    }
</div>
